<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <style>
        .back-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            width: 100px;
        }

        .back-btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<h1>Signup</h1>

<p th:if="${error}" th:text="${error}" style="color:red"></p> <!-- 에러 메시지 표시 -->

<form action="/signup" method="post">
    <label>Name:</label>
    <input type="text" name="name" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>Role:</label>
    <select name="role">
        <option value="Select">select</option>
        <option value="Freshman">Freshman</option>
        <option value="Senior_Student">Senior Student</option>
        <option value="Professor">Professor</option>
        <option value="Student_Council">Student Council</option>
    </select><br>

    <button type="submit">Signup</button>
</form>
<a href="/" class="back-btn">메인으로</a>
</body>
</html>
